@page "/"

<PageTitle>Hotel Managment Dashboard</PageTitle>
<h3>Hotel Intern Managment Dashboard</h3>
<div class="mt-16 px-8">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4" style="height: 200px;">
            <div class="card h-100" style="height: 200px;">
                <!-- Add your content for the first MudPaper here -->
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4" style="height: 200px;">
            <div class="card h-100" style="height: 200px;">
                <!-- Add your content for the second MudPaper here -->
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4" style="height: 200px;">
            <div class="card h-100" style="height: 200px;">
                <!-- Add your content for the third MudPaper here -->
            </div>
        </div>
        <div class="col-12 col-sm-6" style="height: 200px;">
            <div class="row" style="height: 200px;">
                <div class="col-12" style="height: 200px;">
                    <div class="card" style="height: 200px;">
                        <!-- Add your content for the fourth MudPaper here -->
                    </div>
                </div>
                <div class="col-12" style="height: 200px;">
                    <div class="card">
                        <!-- Add your content for the fifth MudPaper here -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6" style="height: 200px;">
            <div class="card h-100">
                <!-- Add your content for the sixth MudPaper here -->
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4" style="height: 200px;">
            <div class="card h-100">
                <!-- Add your content for the seventh MudPaper here -->
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4" style="height: 200px;">
            <div class="card h-100">
                <!-- Add your content for the eighth MudPaper here -->
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4" style="height: 200px;">
            <div class="card h-100">
                <!-- Add your content for the ninth MudPaper here -->
            </div>
        </div>
    </div>
</div>
