@page "/"

<PageTitle>Hotel Managment Dashboard</PageTitle>
<h3>Hotel Intern Managment Dashboard</h3>
<div class="mt-16 px-8">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4" style="height: 100px;">
            <div class="card h-100" style="height: 100px;">
                <HotelManagment.Client.Component.HomePageCOmponents.AvailableRooms></HotelManagment.Client.Component.HomePageCOmponents.AvailableRooms>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4" style="height: 100px;">
            <div class="card h-100" style="height: 200px;">
                <HotelManagment.Client.Component.HomePageCOmponents.ReserveredCount ></HotelManagment.Client.Component.HomePageCOmponents.ReserveredCount>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4" style="height: 100px;">
            <div class="card h-100" style="height: 200px;">
               <HotelManagment.Client.Component.HomePageCOmponents.ReceivedPostToday></HotelManagment.Client.Component.HomePageCOmponents.ReceivedPostToday>
            </div>
        </div>
        <div class="col-12 col-sm-6" style="height: 200px;">
            <div class="row" style="height: 200px;">
                <div class="col-12" style="height: 200px;">
                    <div class="card" style="height: 200px;">
                        <!-- Add your content for the fourth MudPaper here -->
                    </div>
                </div>
                <div class="col-12" style="height: 200px;">
                    <div class="card">
                        <!-- Add your content for the fifth MudPaper here -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6" style="height: 200px;">
            <div class="card h-100">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4" style="height: 200px;">
            <div class="card h-100">
                <!-- Add your content for the seventh MudPaper here -->
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4" style="height: 200px;">
            <div class="card h-100">
                <!-- Add your content for the eighth MudPaper here -->
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4" style="height: 200px;">
            <div class="card h-100">
                <!-- Add your content for the ninth MudPaper here -->
            </div>
        </div>
    </div>
</div>
