<!-- ReturnToHomeButton.razor -->

<button @onclick="RedirectToDestination" type="button" class="w-25 btn btn-lg btn-danger" style="background-color:lightblue"> @ButtonText</button>

@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    [Parameter]
    public string Destination { get; set; } = "/";

    [Parameter]
    public string ButtonText { get; set; } = "Home";

    private void RedirectToDestination()
    {
        // Redirect to the specified destination
        NavigationManager.NavigateTo(Destination);
    }
}