<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HotelManagment</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" style="background-color:white" @onclick="ToggleNavMenu">
    <nav class="flex-column" >
        <div class="nav-item px-3">
            <NavLink style="background-color:yellow;color:black"  class="nav-link" href="/" Match="NavLinkMatch.All"
                     onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='yellow';">

                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink style="background-color:yellow;color:black" class="nav-link" href="reserveRoom" Match="NavLinkMatch.All"
                     onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='yellow';">

                <span class="oi oi-bold" aria-hidden="true"></span> Reserve
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink style="background-color: yellow; color: black;" class="nav-link"  Match="NavLinkMatch.All"
            @onclick="ToggleOptions">

                <span class="oi oi-clipboard" aria-hidden="true"></span> Admin
            </NavLink>
            @if (showOptions)
            {
                <div class="additional-options">
                    <ul>
                        <li><NavLink href="AddRoom" style="color:black">Add Room</NavLink></li>
                        <li><NavLink href="Users" style="color:black">All User Admin</NavLink></li>
                        <li><NavLink href="AllReservation" style="color:black">Reservation In Day</NavLink></li>
                        <li><NavLink href="Reperations" style="color:black">Repairs List Admin</NavLink></li>
                        <li><NavLink href="Messages" style="color:black">Messages Admin</NavLink></li>
                    </ul>
                </div>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink style="background-color:yellow;color:black" class="nav-link" href="Technical" Match="NavLinkMatch.All"
                     onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='yellow';">

                <span class="oi oi-beaker" aria-hidden="true"></span> Technical
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink style="background-color: yellow; color: black;" class="nav-link" href="Guests" Match="NavLinkMatch.All"
                     onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='yellow';">
                <span class="oi oi-people" aria-hidden="true"></span> Guests
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink style="background-color:yellow;color:black" class="nav-link" href="Kitchen" Match="NavLinkMatch.All"
                onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='yellow';">

                <span class="oi oi-basket" aria-hidden="true"></span> Kitchen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink style="background-color:yellow;color:black" class="nav-link" href="InspectionRoom" Match="NavLinkMatch.All"
                     onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='yellow';">

                <span class="oi oi-basket" aria-hidden="true"></span> Inspection
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink style="background-color:yellow;color:black" class="nav-link" href="Rooms" Match="NavLinkMatch.All"
                     onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='yellow';">

                <span class="oi oi-basket" aria-hidden="true"></span> Room List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink style="background-color:yellow;color:black" class="nav-link" href="Reception" Match="NavLinkMatch.All"
                     onmouseover="this.style.backgroundColor='red';" onmouseout="this.style.backgroundColor='yellow';">

                <span class="oi oi-basket" aria-hidden="true"></span> Reception
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    bool showOptions = false;

    void ToggleOptions()
    {
        showOptions = !showOptions;
    }
}
